## Visual Studio
.vs/
bin/
obj/
*.user
*.suo

## SQLite Database
*.db
*.db-shm
*.db-wal

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rm/
[Aa]rm64/

## Visual Studio cache/options
.vscode/
*.rsuser
*.userosscache
*.sln.docstates

## NuGet Packages
*.nupkg
*.snupkg
**/packages/*

## Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

## User-specific files
*.userprefs